header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 120px;
    height: 120px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: var(--cor-link);
}

.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid var(--rosa-chiclete);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

/* Estilos gerais para mobile */
@media screen and (max-width: 1170px) {
    #nav_list {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        cursor: pointer;
        z-index: 1001;
    }

    #mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color:rgba(233, 91, 134, 0.2);
    backdrop-filter: blur(5px);       
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideDown 0.4s ease forwards;
    z-index: 1000;
    }

    #mobile_menu.active {
        display: flex;
    }

    #mobile_nav_list .nav-item {
        text-align: center;
        background-color: transparent;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
    }

    #mobile_nav_list .nav-item a {
        font-size: 1.5rem;
        color: #1d1d1d;
        text-decoration: none;
        background: transparent;
        padding: 10px 20px;
        transition: background 0.3s ease, color 0.3s ease;
        background-color: transparent;
    }

    /* Animação */
    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
